* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

  body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/40/Fraxinus_excelsior_wood_tangent_section_1_beentree.jpg);
}

header {
  width: 60%;
  height: 200px;
  margin: auto;

}

.header-top {
  width: 100%;
  height: 80%;
  background-color: yellow;
}

.header-bottom {
  width: 100%;
  height: 20%;
  background-color: grey;
}

main {

}

.container::after {
  content: '';
  display: table;
  clear: both;

}

.container {
  width: 60%;
  margin: 10px auto auto;
  text-align: center;
}

.sides-col {
  width: 200px;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}

.col-left {
  float: left;
  background-color: white;
  padding: 20px;
}

.col-center {
  width: 400px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
}

.col-right {
  float: right;

}

.colright-prop {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.colright-top {

}

.colright-center {
  margin: 20px 0 20px;
}

.colright-bottom {

}

footer {
  width: 60%;
  height: 100px;
  margin: auto;
  background-color: pink;
}
